[{kernel,
  [{distributed, [{m8ball,
    5000,
    [a@egor, {b@egor, c@egor}]}]}, % a is a main node, b and c - equally backups
    % The sync_nodes_mandatory tuple will work in conjunction with sync_nodes_timeout.
    % When you start a distributed virtual machine with values set for this,
    % it will stay locked up until all the mandatory nodes are also up and locked.
    % Then they get synchronized and things start going.
    % If it takes more than MaxTime to get all the nodes up, then they will all crash before starting.
    {sync_nodes_mandatory, [a@egor, b@egor]},
    {sync_nodes_timeout, 30000}
  ]}].